body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: Arial;
}

#main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    background-color: rgb(17, 97, 16);
}

h4{
    font-size: 1.06vw;    
}

#hands {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#add-player {
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Times New Roman';
}

#add-player:hover {
    font-size: 8vw;
}

.hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    visibility: hidden;
    position: absolute;
    border-radius: 0.8vw;
}

.visibleHand{
    position: relative;
    visibility: visible;
}

.cards {
    display: flex;
    width: 10vw;
}

.card {
    width: 5vw;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
}
#button>span {
    width: 8vw;
    height: 4vh;
    background-color: white;
    font-variant: small-caps;
    padding: 0.5vw;
    border-radius: 0.8vw;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
#button>span:hover {
    font-size: 1.1vw;
}
#shared-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.shared-card>img {
    width: 10vw;
    border: green 0.2vw solid;
    border-radius: 0.7vw;
    opacity: 0.2;
}
#shared-cards>span{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 8vw;
    height: 4vh;
    background-color: white;
    font-variant: small-caps;
    padding: 0.5vw;
    border-radius: 0.8vw;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;    
    transition: all 0.3s ease;
}
#shared-cards>span:hover {
    font-size: 1.1vw;
}
